@tailwind base;
@tailwind components;
@tailwind utilities;
.w-500 {
	width: 500px;
}

.todo-title {
	padding: 10px 20px;
	background-color: #4553b1;
	color: white;
}

input[type="text"] {
	border: none;
	outline: none;
	border-bottom: 2px solid #4553b1;
}

input[type="checkbox"] {
	accent-color: #e03f9d;
	border-radius: 50%;
	width: 18px;
	height: 18px;
}

.edit {
	cursor: pointer;
	color: #4553b1;
}

.delete {
	cursor: pointer;
	color: rgb(240, 39, 39);
}
